<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>判例一覧</title>
  <link rel="stylesheet" th:href="@{/css/Home/homeLayout.css}">
</head>

<body>
<header>
  <span id="Learn_Law"><a th:href="@{/}"><img id="title_pic" th:src="@{/images/title.png}"></a></span>

    <nav>
        <span sec:authorize="isAnonymous()">
            <a th:href="@{/login}">ログイン</a>　　
            <a th:href="@{/createaccount}">新規登録</a>
        </span>

        <span sec:authorize="hasRole('GENERAL')">
            <a th:href="@{/mypage/{userId}/(userId = ${UserId})}">マイページ</a>
            <form th:action="@{/logout}" name="logout" th:method="@{post}">
                <a href="javascript:logout.submit()">ログアウト</a>
            </form>
        </span>
        <span sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/mypage/{userId}/(userId = ${UserId})}">マイページ</a>
            <form th:action="@{/logout}" name="logout" th:method="@{post}">
                <a href="javascript:logout.submit()">ログアウト</a>
            </form>
            <a th:href="@{/userlist}">ユーザーリスト</a>
        </span>
    </nav>

  <div>
    <ul class="menu">
      <li class="menu-list">
        <a th:href="@{/}" class="menuList-content">ホーム</a>
      </li>
      <li class="menu-list">
        <a th:href="@{/quiz}" class="menuList-content">クイズ</a>
      </li>
      <li class="menu-list">
        <a th:href="@{/precedent}" class="menuList-content">判例</a>
      </li>
      <li>
        <a th:href="@{/lawboard}">掲示板</a>
      </li>
    </ul>
  </div>
</header>

<div class="layoutMain">
  <main class="center">
    <div>判例一覧</div>
      <form th:action="@{/precedent/all/changeList/}" th:method="@{get}">
        <select name="category">
            <option value="all">全て</option>
            <option value="civil">民法</option>
            <option value="criminal">刑法</option>
            <option value="copyright">著作権法</option>
            <input type="submit" value="並べ替え" />
        </select>
      </form>
    <table border="1">
      <thead>
        <tr>
          <th class="id">ID</th>
          <th>判例タイトル</th>
          <th>概要</th>
          <th>事件番号</th>
          <th>カテゴリー</th>
          <span sec:authorize="hasRole('ADMIN')">
              <td><span>編集</span></td>
              <td><span>削除</span></td>
          </span>
        </tr>
      </thead>

      <tbody>
          <tr th:each="precedent : ${PrecedentList}">
            <td><a th:href="@{/precedent/{precedent_id}/(precedent_id = ${precedent.precedent_id})}"><p th:text="${precedent.precedent_title}"></p></a></td>
            <td th:text="${precedent.precedent_title}"></td>
            <td th:text="${precedent.precedent_subtitle}"></td>
            <td th:text="${precedent.precedent_number}"></td>
            <td th:text="${precedent.precedent_category}"></td>
            <span sec:authorize="hasRole('ADMIN')">
                <td><a th:href="@{/precedent/{precedent_id}/update/(precedent_id = ${precedent.precedent_id})}">編集</a></td>
                <td><a th:href="@{/precedent/{precedent_id}/delete/(precedent_id = ${precedent.precedent_id})}">削除</a></td>
            </span>
          </tr>
      </tbody>
    </table>
  </main>

  <div class="left-side">
    <span>
      <a th:href="@{/precedent}">判例とは？</a><br>
      <p>判例一覧</p>
      <div sec:authorize="hasRole('ADMIN') or hasRole('GENERAL')">
        <a th:href="@{/precedent/writeprecedent}">判例を書く</a>
      </div>
      <div sec:authorize="isAnonymous()">
         <div>判例を書くには会員登録が必要です</div>
      </div>
    </span>
  </div>

  <aside class="right-side">
  </aside>
</div>
</body>

</html>