<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>quiz</title>
  <link rel="stylesheet" th:href="@{/css/Home/homeLayout.css}">
</head>

<body>
<header>
  <span id="Learn_Law"><a th:href="@{/}"><img id="title_pic" th:src="@{/images/title.png}"></a></span>

  <nav>
        <span sec:authorize="isAnonymous()">
            <a th:href="@{/login}">ログイン</a>　　
            <a th:href="@{/createaccount}">新規登録</a>
        </span>

    <span sec:authorize="hasRole('GENERAL')">
            <a th:href="@{/mypage/{userId}/(userId = ${UserId})}">マイページ</a>
            <a th:href="@{/logout}">ログアウト</a>
        </span>
    <span sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/mypage/{userId}/(userId = ${UserId})}">マイページ</a>
            <a th:href="@{/logout}">ログアウト</a>
            <a th:href="@{/userlist}">ユーザーリスト</a>
        </span>
  </nav>

  <div>
    <ul class="menu">
      <li class="menu-list">
        <a th:href="@{/}" class="menuList-content">ホーム</a>
      </li>
      <li class="menu-list">
        <a th:href="@{/quiz}" class="menuList-content">クイズ</a>
      </li>
      <li class="menu-list">
        <a th:href="@{/precedent}" class="menuList-content">判例</a>
      </li>
      <li>
        <a th:href="@{/lawboard}">掲示板</a>
      </li>
    </ul>
  </div>
</header>

<div class="layoutMain">
  <main class="center">
    <div>判例を書く</div>
    <form th:action="@{/precedent/create}" th:method="@{post}">
      <label>事件名：</label>
      <input type="text" name="precedent_title"><br>
      <label>カテゴリー：</label>
      <select name="precedent_category">
        <option value="民法">民法</option>
        <option value="刑法">刑法</option>
        <option value="著作権法">著作権法</option>
      </select><br>
      <label>事件番号</label>
      <input type="text" name="precedent_number" placeholder="令和〇(〇)0000"><br>
      <label>事実の概要：</label>
      <textarea name="precedent_overview"></textarea><br>
      <label>両者の主張：</label>
      <textarea name="precedent_claim"></textarea><br>
      <textarea name="precedent_judgement"></textarea><br>
      <button type="submit">送信</button>
    </form>

  </main>

  <div class="left-side">
    <a th:href="@{/precedent}">判例とは？</a><br>
    <a href="@{/precedent/all}">判例一覧</a><br>
    <div>刑法</div>
    <a th:href="@{/precedent/criminal/top}">刑法の判例を読む</a>
    <div>民法</div>
    <a th:href="@{/precedent/civil/top}">民法の判例を読む</a>
    <div>著作権法</div>
    <a th:href="@{/precedent/copyright/top}">著作権についての判例を読む</a><br>


    <div sec:authorize="hasRole('ADMIN')">
      <a th:href="@{/precedent/writeprecedent}">判例を書く</a>
    </div>
  </div>

  <aside class="right-side">
  </aside>
</div>
</body>

</html>