<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>掲示板を読む</title>
    <link rel="stylesheet" th:href="@{/css/Home/homeLayout.css}">
</head>

<body>
<header>
  <span id="Learn_Law"><a th:href="@{/}"><img id="title_pic" th:src="@{/images/title.png}"></a></span>

    <nav>
        <span sec:authorize="isAnonymous()">
            <a th:href="@{/login}">ログイン</a>　　
            <a th:href="@{/createaccount}">新規登録</a>
        </span>

        <span sec:authorize="hasRole('GENERAL')">
            <a th:href="@{/mypage/{userId}/(userId = ${UserId})}">マイページ</a>
            <form th:action="@{/logout}" name="logout" th:method="@{post}">
                <a href="javascript:logout.submit()">ログアウト</a>
            </form>
        </span>
        <span sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/mypage/{userId}/(userId = ${UserId})}">マイページ</a>
            <form th:action="@{/logout}" name="logout" th:method="@{post}">
                <a href="javascript:logout.submit()">ログアウト</a>
            </form>
            <a th:href="@{/userlist}">ユーザーリスト</a>
        </span>
    </nav>

  <div>
    <ul class="menu">
      <li class="menu-list">
        <a th:href="@{/}" class="menuList-content">ホーム</a>
      </li>
      <li class="menu-list">
        <a th:href="@{/quiz}" class="menuList-content">クイズ</a>
      </li>
      <li class="menu-list">
        <a th:href="@{/precedent}" class="menuList-content">判例</a>
      </li>
      <li>
        <a th:href="@{/lawboard}">掲示板</a>
      </li>
    </ul>
  </div>
</header>

<div class="layoutMain">
  <main class="center">
      <span th:each="lawBoard : ${lawBoard}">
        No.0　<span th:text="${lawBoard.lawBoard_title}"></span>　　カテゴリー：<span th:text="${lawBoard.lawBoard_category}"></span>　　時間：<span th:text="${lawBoard.lawBoard_time}"></span><br>
        ユーザー名：<span th:text="${lawBoard.lawBoard_username}"></span><br>
        <p th:text="${lawBoard.lawBoard_mainComment}"></p><br>


        <div th:each="comment : ${LawComment}">
            <span th:if="${comment.comment_id} % 2 == 0">
              No.<span th:text="${comment.comment_id}"></span>　ユーザー名：<span th:text="${comment.comment_username}"></span>　　時間：<span th:text="${comment.comment_time}"></span>
              <br><br><span th:text="${comment.comment}"></span><br>
            </span>

            <span th:if="${comment.comment_id} % 2 == 1">
              No.<span th:text="${comment.comment_id}"></span>　ユーザー名：<span th:text="${comment.comment_username}"></span>　　時間：<span th:text="${comment.comment_time}"></span>
              <br><br><span th:text="${comment.comment}"></span><br><br>
            </span>
        </div>
      </span>

      <div sec:authorize="hasRole('ADMIN') or hasRole('GENERAL')">
      コメントを書く
          <form th:action="@{/lawboard/{lawboard_id}/createcomment/(lawboard_id = ${LawBoard_ID})}" th:method=@{post}>
            <label>コメント内容</label>
              <textarea name="comment" placeholder="300文字以内でお願いします"></textarea>
              <button type="submit">送信</button>
          </form>
      </div>
      <br>
      <br>
      <div sec:authorize="isAnonymous()">
          コメントを書くには会員登録が必要です。
      </div>
  </main>

  <div class="left-side">
  </div>

  <aside class="right-side"></aside>
</div>
</body>

</html>