<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>quiz</title>
    <link rel="stylesheet" th:href="@{/css/Home/homeLayout.css}">
</head>

<body>
<header>
  <span id="Learn_Law"><a th:href="@{/}"><img id="title_pic" th:src="@{/images/title.png}"></a></span>

  <nav>
        <span sec:authorize="isAnonymous()">
            <a th:href="@{/login}">ログイン</a>　　
            <a th:href="@{/createaccount}">新規登録</a>
        </span>

    <span sec:authorize="hasRole('GENERAL')">
            <a th:href="@{/mypage/{userId}/(userId = ${UserId})}">マイページ</a>
            <a th:href="@{/logout}">ログアウト</a>
        </span>
    <span sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/mypage/{userId}/(userId = ${UserId})}">マイページ</a>
            <a th:href="@{/logout}">ログアウト</a>
            <a th:href="@{/userlist}">ユーザーリスト</a>
        </span>
  </nav>

  <div>
    <ul class="menu">
      <li class="menu-list">
        <a th:href="@{/}" class="menuList-content">ホーム</a>
      </li>
      <li class="menu-list">
        <a th:href="@{/quiz}" class="menuList-content">クイズ</a>
      </li>
      <li class="menu-list">
        <a th:href="@{/precedent}" class="menuList-content">判例</a>
      </li>
      <li>
        <a th:href="@{/lawboard}">掲示板</a>
      </li>
    </ul>
  </div>
</header>

<div class="layoutMain">
  <main class="center">
      <span th:text="${LawTitle}"></span>　　カテゴリー：<span th:text="${LawCategory}"></span>　　時間：<span th:text="${LawTime}"></span><br>
      ユーザー名：<span th:text="${LawUsername}"></span><br>
      <p th:text="${LawMainComment}"></p>
      <div th:each="comment : ${LawComment}">
          <p th:text="${comment.comment_username}"></p>
          <p th:text="${comment.comment_time}"></p>
          <p th:text="${comment.comment}"></p>
      </div>

      <div sec:authorize="hasRole('ADMIN') or hasRole('GENERAL')">
      コメントを書く
          <form th:action="@{/lawboard/{lawboard_id}/createcomment/(lawboard_id = ${LawBoard_ID})}" th:method=@{post}>
            <label>コメント内容</label>
              <textarea name="comment" placeholder="300文字以内でお願いします"></textarea>
              <button type="submit">送信</button>
          </form>
      </div>
  </main>

  <div class="left-side">
    this is left side!
  </div>

  <aside class="right-side">
    this is right side!
  </aside>
</div>
</body>

</html>