#title_pic {
    width: 260px;
    height: 100px;
}

.layoutMain {
    display: flex;
    margin: 0 auto;
    height: 800px;
}

.center {
    float: left;
    width: 72%;
    padding: 10px;
    background-color: #b3d874;
    order: 2;
}

.left-side{
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  order: 1;
  background-color: #ff838b;
}

.right-side{
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    order: 3;
    background-color: #ff838b;
  }

  /*スタートページのタイトル*/
  .quizTitle {
    font-size: 100px;
    color: black;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-shadow: 10px 10px 20px silver;
    padding: 70px;
  }

  .quizStartButton a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px auto;
    max-width: 240px;
    padding: 10px 50px 10px 50px;
    color: #313131;
    font-weight: 600;
    background: #eee;
    border-radius: 50px;
    overflow: hidden;
    text-decoration: none;
}
.quizStartButton a:before {
    font-family: "Font Awesome 5 Free";
}

.quizQuestion {
    font-size: 20px;
    color: black;
    padding: 70px;
}

/*問題ページのまるばつのボタン*/
.quizButton {
  width: 250px;
  height: 250px;
  font-size: 100px;
  text-decoration-line: none;
  position: relative;
  top: 250px;
  margin-left: 350px;
  margin-right: 150px;
}

#quizCircleButton {
  color:red;
  font-weight: 900;
  background: white;
  text-shadow: #eee;
}

#quizCrossButton {
  color:Blue;
  font-weight: 900;
  background: white;
  text-shadow: white;
}