<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>quiz</title>
    <link rel="stylesheet" th:href="@{css/quizLayout.css}">
</head>

<body>
<header>
    <span id="Learn_Law"><a th:href="@{/}"><img id="title_pic" th:src="@{images/title.png}"></a></span>

    <nav>
        <span sec:authorize="isAnonymous()">
            <a th:href="@{/login}">ログイン</a>　　
            <a th:href="@{/createaccount}">新規登録</a>
        </span>

        <span sec:authorize="hasRole('GENERAL')">
            <a th:href="@{/mypage/{userId}/(userId = ${UserId})}">マイページ</a>
            <a th:href="@{/logout}">ログアウト</a>
        </span>
        <span sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/mypage/{userId}/(userId = ${UserId})}">マイページ</a>
            <a th:href="@{/logout}">ログアウト</a>
            <a th:href="@{/userlist}">ユーザーリスト</a>
        </span>
    </nav>

    <div>
        <ul class="menu">
            <li class="menu-list">
                <a th:href="@{/}" class="menuList-content">ホーム</a>
            </li>
            <li class="menu-list">
                <a th:href="@{/quiz}" class="menuList-content">クイズ</a>
            </li>
            <li class="menu-list">
                <a th:href="@{/precedent}" class="menuList-content">判例</a>
            </li>
            <li>
                <a th:href="@{/lawboard}">掲示板</a>
            </li>
        </ul>
    </div>
</header>

<div class="layoutMain">
    <main class="center">
        <div class="quizTitle">クイズ一覧</div>
        <span>クイズを検索する：</span><input type="text" name="quizSentence"><button type="submit">検索</button><a>詳細検索</a>

        <table border="1">
            <thead>
            <tr>
                <th>問題文</th>
                <th>〇/×</th>
                <th>解説</th>
                <th>ジャンル</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="quizList : ${QuizList}">
                <td th:text="${quizList.quizSentence}"></td>
                <td th:text="${quizList.quizTrueOrFalse}"></td>
                <td th:text="${quizList.quizCommentary}"></td>
                <td th:text="${quizList.quizGenre}"></td>
            </tr>
            </tbody>
        </table>

    </main>

    <div class="left-side">
        <div>クイズランキング</div>
        <table border="1">
            <thead>
                <tr>
                    <th>順位</th>
                    <th>ユーザー名</th>
                    <th>正解数</th>
                </tr>
            </thead>

            <tbody>
            <tr th:each="quizRank : ${QuizRank}">
                <td>１位</td>
                <td th:text="${quizRank.history_username}">該当者なし</td>
                <td th:text="${quizRank.pointAll}">該当者なし</td>
            </tr>
            <tr>
                <td>２位</td>
                <td th:text="${quizRank.history_username}">該当者なし</td>
                <td th:text="${quizRank.pointAll}">該当者なし</td>
            </tr>
            <tr>
                <td>３位</td>
                <td th:text="${quizRank.history_username}">該当者なし</td>
                <td th:text="${quizRank.pointAll}">該当者なし</td>
            </tr>
            <tr>
                <td>４位</td>
                <td th:text="${quizRank.history_username}">該当者なし</td>
                <td th:text="${quizRank.pointAll}">該当者なし</td>
            </tr>
            <tr>
                <td>５位</td>
                <td th:text="${quizRank.history_username}">該当者なし</td>
                <td th:text="${quizRank.pointAll}">該当者なし</td>
            </tr>
            </tbody>
        </table>
    </div>

    <aside class="right-side">
        this is right side!
    </aside>
</div>
</body>

</html>