<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>新規会員登録</title>
    <link rel="stylesheet" th:href="@{/css/Home/homeLayout.css}">
    <style type="text/css">
        .errorStr { color: red; }
    </style>
</head>
<header>
    <span id="Learn_Law"><a th:href="@{/}"><img id="title_pic" th:src="@{/images/title.png}"></a></span>

    <nav>
        <span sec:authorize="isAnonymous()">
            <a th:href="@{/login}">ログイン</a>　　
            <a th:href="@{/createaccount}">新規登録</a>
        </span>

        <span sec:authorize="hasRole('GENERAL')">
            <a th:href="@{/mypage/{userId}/(userId = ${UserId})}">マイページ</a>
            <a th:href="@{/logout}">ログアウト</a>
        </span>
        <span sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/mypage/{userId}/(userId = ${UserId})}">マイページ</a>
            <a th:href="@{/logout}">ログアウト</a>
            <a th:href="@{/userlist}">ユーザーリスト</a>
        </span>
    </nav>

    <div>
        <ul class="menu">
            <li class="menu-list">
                <a th:href="@{/}" class="menuList-content">ホーム</a>
            </li>
            <li class="menu-list">
                <a th:href="@{/quiz}" class="menuList-content">クイズ</a>
            </li>
            <li class="menu-list">
                <a th:href="@{/precedent}" class="menuList-content">判例</a>
            </li>
            <li>
                <a th:href="@{/lawboard}">掲示板</a>
            </li>
        </ul>
    </div>
</header>
<body>
<p>新規会員登録</p>
    <span th:if="${SubMiss}">
        <p th:text="${SubMiss}"></p>
    </span>

<form th:action="@{/createaccount/create}" th:object="${loginUser}" th:method="@{post}" novalidate>
  <label>メールアドレス：</label>
  <input type="email" th:field="*{email}" />
  <span class="errorStr" th:errors="*{email}"></span><br>
  <label>ユーザー名：</label>
  <input type="text" th:field="*{username}" placeholder="20文字以内" />
  <span class="errorStr" th:errors="*{username}"></span><br>
  <label>パスワード：</label>
  <input type="password" th:field="*{password}" placeholder="20文字以内" />
  <span class="errorStr" th:errors="*{password}"></span><br>
  <button type="submit">登録</button>
</form>
</body>
</html>