<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link rel="stylesheet" th:href="@{/css/Home/homeLayout.css}">
    <style type="text/css">
        .errorStr { color: red; }
    </style>
</head>
<header>
    <span id="Learn_Law"><a th:href="@{/}"><img id="title_pic" th:src="@{/images/title.png}"></a></span>

    <nav>
        <span sec:authorize="isAnonymous()">
            <a th:href="@{/login}">ログイン</a>　　
            <a th:href="@{/createaccount}">新規登録</a>
        </span>

        <span sec:authorize="hasRole('GENERAL')">
            <a th:href="@{/mypage/{userId}/(userId = ${UserId})}">マイページ</a>
            <a th:href="@{/logout}">ログアウト</a>
        </span>
        <span sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/mypage/{userId}/(userId = ${UserId})}">マイページ</a>
            <a th:href="@{/logout}">ログアウト</a>
            <a th:href="@{/userlist}">ユーザーリスト</a>
        </span>
    </nav>

    <div>
        <ul class="menu">
            <li class="menu-list">
                <a th:href="@{/}" class="menuList-content">ホーム</a>
            </li>
            <li class="menu-list">
                <a th:href="@{/quiz}" class="menuList-content">クイズ</a>
            </li>
            <li class="menu-list">
                <a th:href="@{/precedent}" class="menuList-content">判例</a>
            </li>
            <li>
                <a th:href="@{/lawboard}">掲示板</a>
            </li>
        </ul>
    </div>
</header>
<body>
    <h2>ログイン</h2>
    <span th:errors="${LoginMiss}"></span><br>

    <form action="/" th:action="@{/login}" th:object="${loginUser}" th:method="@{post}" novalidate>
        ユーザー名:<input type="text" th:field="*{username}" name="username"><br>
        <span class="errorStr" th:errors="*{username}"></span><br>
        パスワード:<input type="password" th:field="*{password}" name="password"><br>
        <span class="errorStr" th:errors="*{password}"></span><br>
        <button type="submit">ログイン</button>
    </form>
</body>
</html>